:root {
    --primary: #665f56;
    --secondary: #f5f0e5;
    --accent: #4a443d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marianne", sans-serif;
}

body {
    background: var(--secondary);
    color: var(--primary);
    line-height: 1.7;
    font-family: "Marianne", sans-serif;

}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: var(--secondary);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 1.4rem;
    font-weight: 700;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
}

nav a:hover {
    color: var(--accent);
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.hero h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: var(--accent);
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.85;
}

/* SECTIONS */
.section {
    padding: 80px 40px;
    max-width: 1400px;
    margin: auto;
}

.section h2 {
    margin-bottom: 20px;
    color: var(--accent);
    text-align: center;
    font-size: 1.5rem;

}

/* PROJECT GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

/* ANIMATIONS */
.entete {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

.slide {
    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: var(--primary);
    color: white;
    margin-top: 40px;
}

/* MARIANNE THIN (100) */
@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Thin.woff2") format("woff2"),
         url("fonts/Marianne-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Thin_Italic.woff2") format("woff2"),
         url("fonts/Marianne-Thin_Italic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
}

/* LIGHT (300) */
@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Light.woff2") format("woff2"),
         url("fonts/Marianne-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Light_Italic.woff2") format("woff2"),
         url("fonts/Marianne-Light_Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

/* REGULAR (400) */
@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Regular.woff2") format("woff2"),
         url("fonts/Marianne-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Regular_Italic.woff2") format("woff2"),
         url("fonts/Marianne-Regular_Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

/* MEDIUM (500) */
@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Medium.woff2") format("woff2"),
         url("fonts/Marianne-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Medium_Italic.woff2") format("woff2"),
         url("fonts/Marianne-Medium_Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

/* BOLD (700) */
@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Bold.woff2") format("woff2"),
         url("fonts/Marianne-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-Bold_Italic.woff2") format("woff2"),
         url("fonts/Marianne-Bold_Italic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

/* EXTRABOLD (800) */
@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-ExtraBold.woff2") format("woff2"),
         url("fonts/Marianne-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Marianne";
    src: url("fonts/Marianne-ExtraBold_Italic.woff2") format("woff2"),
         url("fonts/Marianne-ExtraBold_Italic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
}